# ==========================================
# 1. 构建与编译产物 (Maven)
# ==========================================
target/
!.mvn/wrapper/maven-wrapper.jar

# ==========================================
# 2. 项目特有目录与敏感文件
# ==========================================
logs/
*.log
conf/**/*local*
conf/**/*secret*
conf/**/*password*
tmp/
temp/

# ==========================================
# 3. IntelliJ IDEA (JetBrains系列)
# ==========================================
.idea/
*.iws
*.iml
*.ipr
out/

# ==========================================
# 4. 操作系统生成的垃圾文件
# ==========================================
.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# 5. 其他常见忽略项
# ==========================================
node_modules/
.env
.env.local

# 忽略编译生成的字节码文件
*.class

# 忽略工具 jar 包
bfg.jar

.idea/workspace.xml
